<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="30">
        <style>
            table{border-collapse: collapse;}
            table, th, td{border: 1px solid black;}
            th, td{
                padding-left: 5px;
                padding-right: 5px;
            }
            td{text-align: center;}
        </style>
    </head>
    <body>
        <table>
            <thead>
                <th>Adresse IP</th>
                {% for i in range(nb_exos) %}
                    <th> Exercice {{i+1}} </th>
                {%endfor%}
            </thead>

            {%for ip in userdata%}
                <tr>
                    <td> {{ ip }} </td>
                    {%for exo_id in range(nb_exos)%}
                        {% set color = "limegreen" if userdata[ip][exo_id]["success"] else ("red" if userdata[ip][exo_id]["tries"]>0 else "white") %}
                        <td style='background-color:{{color}}'>
                            {{userdata[ip][exo_id]["tries"]}} essais
                        </td>
                    {%endfor%}
                </tr>
            {%endfor%}
        </table>
    </body>
</html>